body
{
}

.actualStage{
    margin-top: 5px;
    color: #fff;
}

#canvas
{ background: url("../images/board.jpg"); }

.selectableImageLong
{
    width: 20%;
    margin-right: 2em;
}

.selectableImageShort
{
    width: 20%;
    margin-left: 2em;
}